.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  min-height: 100vh; //set container height to screen height
}

.content {
  flex-grow: 1; //allow container to grow as needed leaving just enought space for footer
}
