.header {
  padding: 1rem 0 3rem;
}

.top-container {
  display: flex;
  margin-bottom: 1rem;
  max-height: 200px;

  &-logo {
    max-height: 200px;
    margin: auto;
  }

  &-title {
    color: #000000;
    font-size: 2rem;
    margin: auto;
  }
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #999999;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;

  &:hover {
    color: #666666;
  }
  &-active {
    color: #333333;
  }
}
